@import url('https://fonts.googleapis.com/css2?family=Roboto:ital,wght@0,500;1,400&display=swap');

@font-face {
    font-family: 'Material Icons';
    font-style: normal;
    font-weight: 400;
    src: url('../../fonts/material-icons.woff2') format('woff2');
}

@keyframes shake {
    0% { margin-left: 0; }
    25% { margin-left: 4px; }
    75% { margin-left: -4px; }
    100% { margin-left: 0; }
}

.is-invalid {
    border: 1px solid #f02849 !important;
    animation: shake 0.2s ease-in-out 0s 2;
}

.material-icons {
    font-family: 'Material Icons';
    font-weight: normal;
    font-style: normal;
    font-size: 24px;
    line-height: 1;
    letter-spacing: normal;
    text-transform: none;
    display: inline-block;
    white-space: nowrap;
    word-wrap: normal;
    direction: ltr;
    -webkit-font-feature-settings: 'liga';
    -webkit-font-smoothing: antialiased;
}

* {
    margin: 0;
    padding: 0;
    box-sizing: border-box;
}


li {
    list-style: none;
}

a {
    text-decoration: none;
}

.hidden {
    display: none; !important;
}

.button-outlined, .button-secondary {
    display: flex;
    justify-content: center;
    align-items: center;
    padding: 8px 16px;
    text-decoration: none;
    border-radius: 4px;
}

main.main-content {
    min-height: 100vh;
}

.empty-content {
    display: flex;
    justify-content: center;
    align-items: center;
    flex-direction: column;
    row-gap: 10px;
    min-height: 50vh;
}

.navbar .container {
    display: flex;
    justify-content: space-between;
    align-items: center;
    padding: 10px;
}

.navbar .navbar-collapse {
    justify-content: end;
}

.navbar .navbar-collapse .navbar-nav {
    gap: 20px;
}

.navbar .nav-link{
    font-weight: 400;
}

.navbar .nav-logo {
    font-size: 2.1rem;
    font-weight: 500;
}


.page-content {
    display: flex;
    flex-direction: column;
    align-items: center;
    justify-content: center;
    row-gap: 20px;
    margin: 20px auto;
}

.card-form {
    width: 50%;
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 20px;
    padding: 16px;
    border-radius: 4px;
}

.form-title {
    text-align: center;
    text-transform: uppercase;
}
.form-row, .form-check-row, .form-button-row {
    width: 100%;
}
.form-button-row {
    display: flex;
    justify-content: center;
}
.form-check-row {
    display: flex;
    align-items: center;
    column-gap: 12px;
}
.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
    width: 100%;
    height: 40px;
    border: none;
}
.form-row input[type="text"]:focus,
.form-row input[type="email"]:focus,
.form-row input[type="password"]:focus {
    outline: none;
}
.form-button-row {
    text-align: center;
}

.pagination-input-content {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    column-gap: 8px;
}

.pagination-input-content .pagination-arrow {
    display: flex;
    border-radius: 50%;
}

.pagination-input-content input {
    width: 60px;
    height: 40px;
    border-radius: 8px;
    text-align: center;
}

