.page-row {
    width: 100%;
    display: grid;
    grid-template-columns: 3fr 8fr 1fr;
    gap: 20px;
}

.inputs-content {
    display: flex;
    flex-direction: column;
    row-gap: 12px;
    padding: 10px;
    border-radius: 2px;
    height: 480px;
    overflow-y: auto;
    position: relative;
}
.inputs-content .input-row {
    position: relative;
    display: flex;
    flex-direction: column;
    row-gap: 4px;
}
.input-row input {
    height: 40px;
    outline: none;
    padding: 0 6px;
    width: 100%;
    font-size: 18px;
    border-radius: 4px;
}

.input-row select {
    width: 100%;
    height: 40px;
    outline: none;
    font-size: 18px;
    border-radius: 4px;
}

.input-row .input-icon {
    position: absolute;
    top: 8px;
    right: 4px;
}
.input-row .input-icon img {
    width: 20px;
    height: 20px;
}


.load-more-content {
    text-align: center;
}

.load-more-content a {
    text-transform: uppercase;
    font-style: normal;
}

textarea#note {
    width:100%;
    height:480px;
    line-height: 30px;
    padding: 0 8px;
    border-radius: 4px;
    outline: 0;
    font-style: oblique;
    font-size: 18px;
    box-sizing: border-box;
    z-index: 1;
    caret-shape: bar;
    resize: none;
}

textarea:focus, textarea:hover {
    outline: none;
}

.actions-panel {
    border-radius: 4px;
    height: 480px;
}

.actions-list {
    display: flex;
    flex-direction: column;
    justify-content: center;
    align-items: center;
    row-gap: 24px;
}

.actions-list a {
    text-decoration: none;
    display: flex;
    flex-direction: column;
    row-gap: 6px;
    text-align: center;
    align-items: center;
}

.actions-list > a:first-child {
    margin-top: 30px;
}

.actions-list .material-icons {
    font-size: 30px;
}

.empty-list {
    display: flex;
    justify-content: center;
    align-items: center;
}

.select2-container--default .select2-selection--single .select2-selection__arrow {
    height: 40px;
}

.select2-container--default .select2-selection--single .select2-selection__rendered {
    line-height: 38px;
}

.select2-container--default .select2-search--dropdown .select2-search__field {
    outline: none;
    border-radius: 4px;
}

@media only screen and (max-width: 768px) {
    .title-row .input-row, .title-row input {
        width: 100%;
    }
    .page-row {
        grid-template-columns: 1fr;
    }
    form {
        width: 100% !important;
    }

    .actions-list {
        padding: 10px 0;
        flex-direction: row;
        display: grid;
        grid-template-columns: repeat(3, 1fr);
    }

    .actions-list > a:first-child {
        margin-top: 0;
    }
}
