@media (prefers-color-scheme: dark) {
    :root {
        color-scheme: dark;
    }
}

:root {
    --bg-main: #18191A;
    --bg-overlay: #171616;
    --main-color: #b0b3b8;
    --border-main-color: #3E4042;
    --btn-secondary-bg: #ffffff19;
    --btn-secondary-hover-bg: #FFFFFF66;
    --btn-secondary-border: #ffffff19;
    --bg-card: #242526;
    --bg-card-2: #FFFFFF19;
    --bg-card-hover-2: #FFFFFF33;
    --bg-input: #3a3b3c;
}

body {
    background-color: var(--bg-main);
    color: var(--main-color);
}

input::placeholder {
    color: #999;
}

.sheet .overlay {
    background: var(--bg-overlay);
}
.sheet .contents, .sheet .close-sheet {
    background: var(--bg-card);
}
.sheet .draggable-thumb {
    background: var(--main-color);
}

a, a:hover {
    color: var(--main-color);
}

.button-outlined {
    border: 1px solid var(--btn-secondary-border);
    color: var(--main-color);
}

.button-secondary {
    background: var(--btn-secondary-bg);
    color: currentcolor;
}

.button-secondary:hover {
    background: var(--btn-secondary-hover-bg);
}

.navbar {
    background-color: var(--bg-card);
    border-bottom: 1px solid var(--border-main-color);
}

.navbar .nav-link,
.navbar .nav-logo,
.form-title,
.form-row label,
.form-check-row label {
    color: var(--main-color);
}

.navbar .nav-link:hover {
    color: var(--main-color);
}

.form-row input[type="text"],
.form-row input[type="email"],
.form-row input[type="password"] {
    color: var(--main-color);
    background: var(--bg-input);
}


.card-form {
    background: var(--bg-card);
}


.material-icons {
    color: var(--main-color);
}

input {
    border: 1px solid var(--bg-input);
    background: var(--bg-input);
    color: #E4E6EB;
}

select,
.select2-selection--single,
.select2-container--default .select2-selection--multiple {
    border: 1px solid var(--bg-input) !important;
    background: var(--bg-input) !important;
    color: #E4E6EB !important;
    min-height: 40px;
}

.select2-container--default .select2-selection--multiple .select2-selection__choice,
.select2-container--open .select2-dropdown--below, .select2-dropdown {
    background: var(--bg-input) !important;
    border: 1px solid var(--bg-input) !important;
}


.select2-container--default .select2-selection--single .select2-selection__rendered {
    color: #E4E6EB;
}

.inputs-content,
textarea,
textarea:focus,
textarea:hover,
.actions-panel {
    border: 1px solid #3E4042;
}

.actions-panel {
    background: transparent;
}

textarea#note {
    background: transparent;
    color: #E4E6EB;
}

.swal2-modal, .swal2-popup.swal2-toast,
.dropdown-menu,
.dropdown-item {
    background-color: #242526;
    color: var(--main-color);
}

.grid-item {
    border: 1px solid var(--bg-card-2);
    background-color: var(--bg-card-2);
}

.grid-item:hover {
    background: var(--bg-card-hover-2);
}

.access-form-content .access-item {
    border: 1px solid var(--bg-input) !important;
    background: var(--bg-input) !important;
}
